.image-box {
   position: relative;
   height: 250px;
   border: 1px solid #ddd;
   text-align: center;
   box-sizing: border-box;
}




.image-box img {
   max-width: 100%;
   max-height: 100%;
   object-fit: cover;
   display: block;
   margin: 0 auto;
}


.loading-overlay {
   position: absolute;
   top: 0;
   left: 0;
   right: 0;
   bottom: 0;
   display: none;
   justify-content: center;
   align-items: center;
   background: rgba(255, 255, 255, 0.8);
   z-index: 10;
}

.image-box.loading .loading-overlay {
   display: flex;
}
